body {
    font-family: sans-serif;
    margin: 0;
    padding-top: 40px;
    background-color: rgb(15, 15, 15);
}
/* [----------------------------------------------------] */
                 /* navBar setup */
/* [----------------------------------------------------] */

.navBar {
    height: 54px;
    position: fixed;
    background-color: rgb(255, 255, 255, 0.7);
    margin-top: -44px;
    z-index: 2;
}

.navBarImg {
    width: 100vw;
}

.navBar img {
    width: 40px;
    margin: 5px;
    cursor: pointer;
}


.wholeNarBar {
    position: fixed;
    height: 100vh;
    width: 180px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 5px 5px 3px 1px #b1c4caab;
    margin-top: -44px;
    z-index: 2;
}


.navBarLogo img{
    width: 40px;
    margin: 5px;
    cursor: pointer;
}

.backToHomePage {
    margin-bottom: 35px;
    margin-left: 7px;
    font-size: 18px;
}

.backToHomePage a {
    text-decoration: none;
    color: #353535;
}

.backToHomePage a:hover{
    color: rgb(61, 136, 123);
}
/* [----------------------------------------------------] */
                    /* main-slider setup */
/* [----------------------------------------------------] */

.title{
    text-align: center;
    color: rgb(220, 166, 102);
}

.slider{
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 3;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    90% {
        left: -300%;
    }
    100% {
        left: -400%;
    }

}
/* [----------------------------------------------------] */
                /* main-aboutMe setup */
/* [----------------------------------------------------] */

.aboutMe{
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
    margin-top: 20px;
    border-top: rgb(220, 166, 102) solid 1px;
}

.aboutMePic{
    width: 30%;
    text-align: center;
}

.aboutMePic img {
    width:  170px;
    height: 265px;
    box-shadow: 8px 9px 7px 1px rgb(87 169 166 / 97%)
}

.aboutMeText{
    width: 67%;
    text-align: start;
    font-size: 28px;
    color: rgb(61, 136, 123);
    font-family: 'Open Sans Condensed';
}
/* [----------------------------------------------------] */
                /* main-project setup */
/* [----------------------------------------------------] */

.projectTitle{
    text-align: center;
    padding-top: 15px;
    font-size: 28px;
    color: rgb(220, 166, 102);
    border-top: rgb(220, 166, 102) solid 1px;
}

.personalProject{
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project1,
.project2 {
    text-align: center;
}

.project1 img,
.project2 img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}


.project1 button,
.project2 button{
    margin: 10px 5px;
    width: 120px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(61, 136, 123);
    background-color: rgb(15, 15, 15);
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.project1 button:hover,
.project2 button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(220, 166, 102);
}
/* [----------------------------------------------------] */
                    /* footer setup */
/* [----------------------------------------------------] */

.contect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: rgb(220, 166, 102) solid 1px;
    color: rgb(220, 166, 102);
}

.contectContainer {
    font-size: 18px;
    margin: 5px 0px;
}

.icon {
    margin: 5px 0px;
}

.contect img {
    width: 20px;
}

@media only screen and (max-width: 800px){
    .body{
        margin: 0;
        padding: 0;
    }

    /* [----------------------------------------------------] */
                    /* navBar setup */
    /* [----------------------------------------------------] */
    .navBar{
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;

    }

    .navBarImg{
        width: 55px;
        margin-left: 4px;
    }

    .wholeNarBar{
        background-color: rgb(255, 255, 255, 0.7);
        width: 100vh;
        margin-top: -40px;
        
    }

    .navBarLogo{
        width: 57px;
        margin-left: 10px;
        margin-top: 46px;
        border-radius: 10px;
        }

    .navBarLogo img{
        width: 40px;
        margin-left: 9px;
        margin-top: 9px;
    }

    .backToHomePage{
        border-top: rgb(61, 136, 123) solid 1px;
    }

    .backToHomePage a {
        margin-top: 10px;
    }

    /* [----------------------------------------------------] */
                    /* main slider setup */
    /* [----------------------------------------------------] */
    .title{
        font-size: 12px;
    }

    .slider{
        width: 60%;
    }

    /* [----------------------------------------------------] */
                    /* main aboutMe setup */
    /* [----------------------------------------------------] */
    .aboutMe{
        flex-direction: column;
        padding-top: 20px;
    }

    .aboutMeText{
        padding-top: 20px;
    }

    /* [----------------------------------------------------] */
                /* main-project setup */
    /* [----------------------------------------------------] */
    .personalProject{
        flex-direction: column;
     }
}

@media only screen and (max-width: 560px){
    .aboutMe{
        height: 700px;
    }

    .aboutMePic{
        margin-left: -50px;
    }
}

@media only screen and (max-width: 480px){
    .aboutMe{
        height: 900px;
    }
}